:root {
  /* colors */
  --primary-accent: rgb(29, 158, 193);
  --dark: #1d2429;
  --darker: #0f1314;

  /* sizes */
  --portfolio-img-size: 250px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: var(--primary-accent);
}
.background-waves {
  background-image: url("./layered-waves-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.side-navbar {
  background-color: var(--dark);
  padding: 10px 5px;
  width: 100px;
  height: 30vh;
  min-height: 400px;
  border-radius: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 800px;
  margin: 0 20px;
}
.content {
  width: 90%;
  min-width: 1000px;
  height: 90vh;
  min-height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--dark);
}
.left-content {
  border-radius: 50px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.left-inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.portfolio-img-container {
  height: var(--portfolio-img-size);
  width: var(--portfolio-img-size);
  border-radius: 50%;
  display: block;
  position: relative;
}
.portfolio-img-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 10px solid white;
  border-radius: 50%;
  background-color: var(--primary-accent);
}
.portfolio-img {
  height: var(--portfolio-img-size);
  width: var(--portfolio-img-size);
  object-fit: cover;
  object-position: 0 0;
  border: 10px solid white;
  border-radius: 50%;
  background-color: transparent;
  filter: grayscale(0);
}
.my-name {
  margin-top: 50px;
  color: white;
}
.designation {
  margin-top: 20px;
  color: white;
}
.social-links {
  height: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 200px;
  margin: auto;
  margin-top: 50px;
}
.social-links a {
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: border-color 0.3s ease;
}
.social-links a:hover {
  border-color: rgba(255, 255, 255, 1);
}
.resume-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 30px;
  border: 4px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}
.resume-button:hover {
  background-color: white;
  color: black;
}
.copyrights {
  margin-top: 50px;
  color: white;
  filter: brightness(0.7);
}

/* End of Left content */

.right-content {
  border-radius: 50px;
  border-right: none;
  height: 100%;
  width: 80%;
  background-color: var(--darker);
  padding: 30px;
}

.right-content h1,
.right-content h2 {
  color: white;
  text-align: left;
}
.right-content h1 span,
.right-content h2 span {
  color: var(--primary-accent);
}
.right-content .about-me {
  flex: 2;
}
.right-content .about-me-description {
  text-align: left;
  color: white;
  text-indent: 30px;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  border: none;
  border-right: 5px solid white;
  padding-right: 30px;
}
.right-content .details {
  text-align: left;
  flex: 1;
  padding-left: 30px;
  margin-top: 50px;
}
.right-content .details h3 span {
  color: white;
  font-weight: normal;
}
.right-content .details h3 {
  color: var(--primary-accent);
}
.right-content .top-content {
  display: flex;
  flex-direction: row;
}

/* End of Right content */

.side-navbar-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.side-nav-icon-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 1.2rem;
  width: 140px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -170px; /* Position to the left */
  margin-top: -15px; /* Center vertically */
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%; /* Position the arrow on the right edge of the tooltip */
  margin-top: -5px; /* Center the arrow vertically */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white; /* Arrow pointing to the right */
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* End of side navbar */
